.home { padding: 10px 15px 0 30px; }
.col-home { height: 635px; }
.hashtag {
  &.feature {
    color: $blue;
    &:hover { color: $blue; }
  }
  &.partner {
  color: $partner;
    &:hover { color: $partner; }
  }
  &.educational {
    color: $educational;
    &:hover { color: $educational; }
  }
}
.widget {
  padding: 1em;
  border: 1px solid #eee;
  &.empty {
    background: RGBA(247, 247, 247, 1);
    height: 275px;
  }
  .button-sm {
    position: absolute;
    left: 10px;
    top: 10px;
  }
  h5 { z-index: 10; }
}
//chart stuff, scope to avoid collision
.chart {
  .chart-label {
    position: absolute;
    text-transform: uppercase;
    border-bottom: 1px solid #aaa;
  }
  .empty-state { background: $light-grey-alt; min-height: 240px; }
  svg {
    text { fill: #ccc; }
  }
  .nvd3 .nv-axis path { stroke: #eee; }
  .nvd3 .nv-axis line { opacity: .4; }
}
